<form action="/" method="post">
	<label for="name">Name of Exercise:</label>
	<input id="name" type="text" name="name">
	
	<label for="reps">Number of Reps:</label>
	<input id="reps" type="text" name="reps">

	<label for="weight">Weight:</label>
	<input id="weight" type="text" name="weight">

	<label for="date">Date:</label>
	<input id="date" type="text" name="date">

	<label for="lbs">lbs:</label>
	<input id="lbs" type="text" name="lbs">

	<input type="submit" name="update">
</form>
<script>console.log("Update Page called")</script>
